@import '~antd/lib/style/themes/default.less';

.homecenter {
  padding: 10px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;

  div {
    margin: 20px 0;
  }
}

.admin_tab {
  padding: 10px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;

  .selectlist {
    margin: 15px 10px;
    width: 300px;
    float: left;
  }
}
